/*Table*/
.mytable{
   border-collapse: collapse;
   width: 100%;
}
.mytable .td{
   font-family: Arial, sans-serif;
   background: white;
   border: 1px #d3d3d3 solid;
   padding: 5px;
}
.mytable .th{
   font-family: Arial, sans-serif;
   background: #cfefe9;
   border: 1px #d3d3d3 solid;
   padding: 5px;
}
.submit{
   cursor: pointer;
}
.inside-table{
   border-collapse: collapse;
   width: 80%;
   margin: 5px 0px;
}
.inside-table .td{
   border-bottom: 1px #d3d3d3 solid;
   border-top: 1px #d3d3d3 solid;
   font-family: Arial, sans-serif;
   padding: 2px 5px;
   text-align: center;
}
.inside-table .th{
   border-bottom: 1px #d3d3d3 solid;
   border-top: 1px #d3d3d3 solid;
   font-family: Arial, sans-serif;
}